.container{
    width: 1200px;
    background: indianred;
    margin: 0 auto;
}
.header{
    text-align: center;
    background: green;
    width: 100%;
}
.header .title{
    padding: 25px;
    color: white;
    font-size: 31px;
}
.content{
    background: violet;
    width: 100%;
    margin-top: -25px;
}
.content .cal{
    padding: 80px 350px;
}
.content .cal .operation {
    padding-top: 25px;
    padding-left: 35px;
}
.footer{
    background: yellowgreen;
    margin-top: -31px;
    width: 100%;
    text-align: center;
}
.footer .result{
    padding: 25px;
    color: white;
    font-size: 31px;
}